/*
 * This file is part of AudioPlayer (https://gitlab.com/vitoyucepi/audio-player)
 * Copyright (C) 2023 Vitoyucepi
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */

@use 'consts/theme';
@use 'functions/mq';
@use 'consts/breakpoints';
@use '~sass-mq/mq' as sass-mq;
@use 'consts/consts';
@use 'mixins/fonts';
@use 'mixins/mixins';

/* stylelint-disable-next-line selector-max-id */
#player-root {
  @include mixins.default-shadow;

  background: theme.$color-main-background;
  height: theme.$default-header-height;
  line-height: theme.$default-header-line-height;
  position: sticky;
  top: 0;
  width: 100%;
}

html {
  height: 100%;

  @include sass-mq.mq($until: desktop-xsmall, $breakpoints: breakpoints.$mq-breakpoints) {
    font-size: 100%;
  }

  @include sass-mq.mq($from: desktop-xsmall, $breakpoints: breakpoints.$mq-breakpoints) {
    font-size: 125%;
  }

  @include sass-mq.mq($from: desktop-small, $breakpoints: breakpoints.$mq-breakpoints) {
    font-size: 150%;
  }

  @include sass-mq.mq($from: desktop-medium, $breakpoints: breakpoints.$mq-breakpoints) {
    font-size: 175%;
  }

  @include sass-mq.mq($from: desktop-large, $breakpoints: breakpoints.$mq-breakpoints) {
    font-size: 200%;
  }

  @include sass-mq.mq($from: desktop-xlarge, $breakpoints: breakpoints.$mq-breakpoints) {
    font-size: 300%;
  }
}

$font-source-cdn: consts.$font-source-cdn !default;

@if $font-source-cdn {
  @include fonts.remote-font;
} @else {
  @include fonts.local-font;
}
