/*
 * This file is part of AudioPlayer (https://gitlab.com/vitoyucepi/audio-player)
 * Copyright (C) 2023 Vitoyucepi
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */

@use '~@vitoyucepi/audioplayer/src/Styles' as styles;

.player-controls-component {
  align-items: center;
  background-color: styles.$color-object-background;
  border-radius: styles.$default-border-radius;
  display: flex;
  flex: 1;
  flex-direction: row;
  font-size: styles.$default-header-font-size;
  min-width: 0;
  white-space: nowrap;

  > * {
    border-radius: styles.$default-border-radius;
  }
}
