/*
 * This file is part of AudioPlayer (https://gitlab.com/vitoyucepi/audio-player)
 * Copyright (C) 2023 Vitoyucepi
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */

@mixin local-font {
  @font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;

    // @formatter:off
    src:
      local('Roboto'),
      local('Roboto-Regular'),
      url('~@openfonts/roboto_all/files/roboto-all-400.woff2') format('woff2'),
      url('~@openfonts/roboto_all/files/roboto-all-400.woff') format('woff');

    // @formatter:on
  }
}

@mixin remote-font {
  // stylelint-disable-next-line no-invalid-position-at-import-rule, import-notation
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}
