/*
 * This file is part of AudioPlayer (https://gitlab.com/vitoyucepi/audio-player)
 * Copyright (C) 2023 Vitoyucepi
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */

@use '../consts/theme';
@use '../functions/mq';

@mixin header-common-font {
  color: theme.$color-main;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
}

@mixin header-button {
  background-color: unset;
  border: unset;
  color: theme.$color-main;
  cursor: pointer;
  height: theme.$default-header-line-height;
  outline: unset;
  padding: 0;
  width: theme.$default-header-line-height;
}

@mixin default-shadow {
  box-shadow: 0 mq.px2rem(1px) mq.px2rem(4px) rgb(0 0 0 / 25%);
}
